<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a7ef4179-2779-4eae-b2d0-7a867a265c0c" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://qa.apis.nzpost.co.nz" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="a7ef4179-2779-4eae-b2d0-7a867a265c0cfileName">https%3A%2F%2Fqa.apis.nzpost.co.nz</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://qa.apis.nzpost.co.nz</con:endpoint></con:endpoints></con:interface>