<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1fbf064b-d2cf-4dd4-ab6a-5b9550f11b05" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://qa.apis.nzpost.co.nz 1" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="1fbf064b-d2cf-4dd4-ab6a-5b9550f11b05fileName">https%3A%2F%2Fqa.apis.nzpost.co.nz-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://qa.apis.nzpost.co.nz</con:endpoint></con:endpoints></con:interface>