<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="31f2e2cc-2af3-46c4-8f8c-518799abb6fd" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://qa.apis.nzpost.co.nz 2" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="31f2e2cc-2af3-46c4-8f8c-518799abb6fdfileName">https%3A%2F%2Fqa.apis.nzpost.co.nz-2</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://qa.apis.nzpost.co.nz</con:endpoint></con:endpoints></con:interface>